openapi: 3.0.3
info:
  title: MediTriage API
  description: API para la gestión clínica, triaje asistido por IA y consentimientos informados.
  version: 1.0.0

servers:
  - url: https://api.meditriage.com/api/v1
    description: Servidor de Producción

security:
  - BearerAuth: []

paths:
  /patients:
    post:
      summary: Registro inicial del paciente
      operationId: registerPatient
      description: Registra un nuevo paciente en el sistema y retorna su ID generado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rut
                - fullName
                - birthDate
              properties:
                rut:
                  type: string
                  example: "12.345.678-9"
                fullName:
                  type: string
                  example: "Juan Pérez Soto"
                birthDate:
                  type: string
                  format: date
                  example: "1985-04-12"
      responses:
        '201':
          description: Paciente registrado exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "pat_9f81b2c3"
                  createdAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /triage/sessions:
    post:
      summary: Iniciar una sesión de triaje
      operationId: createTriageSession
      description: Inicia una sesión de triaje y devuelve la clasificación ESI asistida por IA. Protegida contra duplicidad mediante Idempotency-Key.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema:
            type: string
            format: uuid
          description: UUID único para prevenir duplicidad clínica ante micro-cortes de red.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - patientId
                - symptoms
                - vitalSigns
              properties:
                patientId:
                  type: string
                  example: "pat_9f81b2c3"
                symptoms:
                  type: array
                  items:
                    type: string
                  example: ["dolor torácico", "dificultad respiratoria"]
                vitalSigns:
                  type: object
                  properties:
                    heartRate:
                      type: integer
                      example: 110
                    bloodPressure:
                      type: string
                      example: "140/90"
      responses:
        '201':
          description: Sesión de triaje procesada exitosamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "tri_4e5d6f7a"
                  esiLevel:
                    type: integer
                    example: 2
                  status:
                    type: string
                    example: "completed"
                  createdAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Validación estricta fallida (RFC 7807).
      content:
        application/problem+json:
          schema:
            type: object
            required:
              - type
              - title
              - status
              - detail
              - instance
            properties:
              type:
                type: string
                example: "https://api.meditriage.com/errors/bad-request"
              title:
                type: string
                example: "Bad Request"
              status:
                type: integer
                example: 400
              detail:
                type: string
                example: "El campo 'rut' posee un formato inválido."
              instance:
                type: string
                example: "/api/v1/patients"

    Unauthorized:
      description: Token ausente o inválido (401).
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              type:
                type: string
                example: "https://api.meditriage.com/errors/unauthorized"
              title:
                type: string
                example: "Unauthorized"
              status:
                type: integer
                example: 401
              detail:
                type: string
                example: "Token de autenticación ausente o expirado."
